//De esta forma instalamos emotion en nuestro proyecto
{
    "presets": [
        "next/babel",
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": [
        [
            "emotion"
        ]
    ]
}